main {
  /* STORY SECTION */
  .story-section {
    background-color: $bg-color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;

    article {
      &:first-of-type {
        p {
          font-size: 1.32rem;
          text-align: center;
          letter-spacing: 5px;
          font-weight: 100;
          padding: 52.74px 0 150px 0;
        }
      }

      &:last-of-type {
        position: relative;

        h2 {
          position: relative;
          font-size: 3.3rem;
          font-weight: 100;
          text-align: center;
          letter-spacing: 10px;
          margin-bottom: -125px;
          z-index: 10;
          padding-bottom: 40px;
          border-bottom: 1px solid $font-color-white;
        }

        div {
          img {
            max-height: 372.99px;
            margin: 0 25vw;
          }

          p {
            width: 160px;
            font-family: Helvetica, 'Times New Roman', Times, serif;
            font-size: 1.6rem;
            text-align: center;
            padding: 10px 0 204px 0;
            margin: 0 auto;

            @extend .hover-da-button;

            &::after {
              @extend .arrow;
            }
          }
        }
      }
    }
  }

  /*HANDMADE SECTION*/
  .handmade-jewels-section {
    background-color: $bg-color-secondary;

    article {
      margin: 0 10vw;

      &:first-of-type {
        text-align: center;
        padding-bottom: 131px;
        h2 {
          @extend .h2-section;
        }

        p {
          font-family: Helvetica, 'Times New Roman', Times, serif;
          font-size: 1.6rem;
          letter-spacing: 3px;
        }
      }

      &:last-of-type {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 303px;

        > div img {
          max-height: 229.49px;
        }

        div {
          position: relative;

          &:hover > .handmade-bg-slide {
            visibility: visible;
            height: 100%;
          }

          .handmade-bg-slide {
            visibility: hidden;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            bottom: 0;
            height: 0;
            transition: 0.25s linear;

            p {
              font-size: 2rem;
              font-weight: 200;

              &:nth-child(2) {
                border-bottom: 1px solid $font-color-white;
                width: 150px;
                margin-bottom: 50px;
              }
            }
          }
        }

        .center-image {
          margin-top: -75px;
        }
      }
    }
  }

  /* PARTNERSHIP SECTION */
  .partnership-section {
    background-color: $bg-color-primary;
    // height: 75vh;

    article {
      &:first-of-type {
        margin: 0 25vw;
        text-align: center;
        h2 {
          @extend .h2-section;
        }

        p {
          font-weight: 100;
          font-size: 1.6rem;
          font-family: Helvetica, 'Times New Roman', Times, serif;
          padding-bottom: 76px;
        }
      }

      &:last-of-type {
        font-weight: 100;
        padding-bottom: 230px;
        div {
          overflow: hidden;
          height: 50px;
          width: 100%;
          margin-bottom: 20px;

          p {
            white-space: nowrap;
            font-size: 3.9rem;
          }

          &:nth-child(1) {
            p {
              @include animation-slide-bar(moving-da-text, 30s, linear, infinite, normal);
            }
          }

          &:nth-child(2) {
            p {
              @include animation-slide-bar(moving-da-text, 33s, linear, infinite, normal);
            }
          }
          &:nth-child(3) {
            p {
              @include animation-slide-bar(moving-da-text, 31s, linear, infinite, reverse);
            }
          }
          &:nth-child(4) {
            p {
              @include animation-slide-bar(moving-da-text, 31s, linear, infinite, reverse);
            }
          }
        }
      }
    }
  }

  .showroom-section {
    background-color: $bg-color-secondary;
    height: 898.47px;

    article {
      padding-top: 20vh;

      .section-wrapper {
        margin: 0 10vw;
        background: url('../imgs/Showroom-bg.jpg') no-repeat;
        background-size: cover;
        height: 582.98px;

        display: flex;
        justify-content: flex-end;

        .showroom-text {
          text-align: center;
          padding-top: 100px;
          margin-right: -115px;

          h2 {
            font-weight: 100;
            font-size: 5.5rem;
            letter-spacing: 50px;
            padding-bottom: 47px;
          }

          p {
            font-size: 1.6rem;
            padding-bottom: 20px;
            width: 35%;
            margin: 0 60%;
            &:last-of-type {
              @extend .hover-da-button;

              &::after {
                @extend .arrow;
              }
            }
          }
        }
      }
    }
  }

  .news-section {
    background-color: $bg-color-primary;
    h2 {
      @extend .h2-section;
      text-align: center;
    }

    article {
      &:first-of-type {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;

        > div img {
          // max-height: 189px;
          width: 100%;
          transition: 0.5s linear;

          &:hover {
            transform: scale(1.5);
          }
        }

        div {
          overflow: hidden;
          width: 33%;
          &:nth-child(2) {
            align-items: flex-start;
            h2 {
              font-size: 3rem;
              padding: 0;
            }
          }
        }
      }

      &:last-of-type {
        text-align: center;
        padding: 10px;
        padding-bottom: 150px;

        p {
          font-size: 1.6rem;
          &:first-of-type {
            width: 50%;
            margin: 0 auto;
            font-weight: 100;
            padding-bottom: 38px;
          }

          &:last-of-type {
            display: inline-block;
            @extend .hover-da-button-two;

            &::after {
              @extend .arrow;
            }
          }
        }
      }
    }
  }
}

footer {
  .footer-section {
    background-color: $bg-color-tertiary;
    h2 {
      text-align: center;
      font-weight: 100;
      color: $font-color-white;
      font-size: 5rem;
      letter-spacing: 50px;
      padding-top: 50px;
    }

    article {
      padding: 0 5vw 10vh 5vw;
      display: flex;
      justify-content: space-between;

      .left-footer-text {
        a {
          color: $font-color-black;
          text-decoration: none;
          padding-right: 10px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .right-footer-icons {
        img {
          padding-left: 10px;
        }
      }
    }
  }
}
